
/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'font-awesome'
 *= require 'animate'
 */

 
@import 'lightbox';

body{
 margin:0;
 background-color: #F5F8F9;          /* ←追加 */
}
* {
 margin: 0 0;
 padding: 0 0;-webkit-appearance: none;

 }

a {

}
#header {
	position: fixed;
	top:0;
	z-index:5;
	width:100%;
	height:45px;
	background-color: #FFF;
	border-bottom:1px solid #ECF2F3;
}
#header h1 {
	text-align: left;
	font-size:20px;
	line-height:2.2em;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: none;
	color:#FF7D7C;
	float:left;

    font-family: 'Comfortaa', cursive;
}


#header h1 a {
	text-decoration: none;
	color:#FF7D7C;
}
#header h1 a:hover {

	color:#FF7D7C;
}
#header-box {
	max-width:1000px;
	margin:0 auto;
}

#header-category {
	width:100%;
	height:50px;
	background-color: #FFF;
	border-bottom:2px solid #ECF2F3;
}
#header-category h1 {
	text-align: center;
	font-size:18px;
	line-height:4.6em;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: none;
}

#header-category h1 a {
	text-decoration: none;
}
#header-category h1 a:hover {color:#999;
}
#header-box-category {
	width:1350px;
	margin:0 auto;
}

.login-head {
float: right;
	width:100px;
	height:40px;
	margin-top: 20px;
	border-radius:10px;
	border:1px solid #FF7D7C;
text-align: center;
line-height: 3em;
}

.login-head a{
text-decoration: none;
}

.login-head a:hover{
	color:#999;
}



.top-profile-image {
	float:right;
	width:30px;
	height:30px;
	background-color:#EEE;
	border-radius:5px;
	border:1px solid #EEE;
	overflow:hidden;
	position: relative;
	z-index:2;
	margin-top:7px;
}

.top-profile-image img {

  width: auto;
	height:50px;
display: block;
position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
           -ms-transform: translate(-50%, -50%);
          transform: translate3d(-50%, -50%, 0);
}


#contents-wrap {
	width:1120px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}

#sidebar-left {
	width:255px;
	float:left;
	overflow:hidden;
	margin-right:15px;
}
#sidebar-left ul {
	margin:0 0;
}

#login-profile-data {
	padding-top:20px;
	background-color: #FFF;
	height:332px;
	border:1px solid #ECF2F3;
	border-radius:3px;
	margin-bottom:20px;
}

#my-active-level {

	background-color: #FFF;
	height:418px;
	border:1px solid #ECF2F3;
	border-radius:3px;
	margin-bottom:15px;
	margin-top:15px;

}

#recent-like-list {

	background-color: #FFF;
	height:618px;
	border:1px solid #ECF2F3;
	border-radius:3px;

}


#recent-like-list h4{
	padding-left:23px;
	font-weight: normal;
	letter-spacing:3px;
	color:#696969;
	line-height:3.5em;
	font-size:14px;
border-bottom:1px solid #ECF2F3;
}

#recent-like-list li {
margin: 0 auto;
margin-top:20px;
width:270px;
height:60px;
border-bottom:1px solid #ECF2F3;
}

.recent-like-image {
	width:60px;
	height:60px;
	overflow: hidden;
	float: left;
}

.recent-like-image img {
	width:60px;
}

.recent-like-price {
width:100px;
	float: left;

}

.recent-like-count {
	padding: 5px 20px 5px 20px ;
	float: right;
	background-color: #FF7D7C;
	border-radius:5px;
	position: relative;
	top:-5px;
	z-index: 2;
	color: #FFF;
}

#sidebar-right {

	padding-bottom: 32768px;
	margin-bottom: -32768px;
	width:250px;
	height:100px;
	background-color: #FFF;
	border:1px solid #ECF2F3;
	float:right;
	margin-left:15px;
	border-radius:3px;
}

#profile-wrap {
	width:750px;
	margin:0 auto;
	background-color: #FFF;
	border:1px solid #ECF2F3;
}

#user-wrap-final {
	width:627px;
	overflow: hidden;
}

#user-wrap {
	padding-top:15px;
	width:655px;
}

#user-wrap h3 {

	padding-top:40px;
	margin-left:50px;
	color:#6e6e6e;
}
#user-wrap ul {
	padding:0 0;
	margin: 0 0;

}
#new-present-wrap {
	width:750px;
	margin:0 auto;
}


#mypage-following-contents-li {

	width:306px;
	height:210px;
	margin-bottom: 20px;
	margin-right:10px;
	float:left;
	border-top:1px solid #ECF2F3;
	border-bottom:2px solid #FF7D7C;
	border-left:1px solid #ECF2F3;
	border-right:1px solid #ECF2F3;
	background-color: #FFF;
}



#mypage-follower-contents-li {
	width:306px;
	height:210px;
	margin-bottom: 20px;
	margin-right:10px;
	float:left;
	border-top:1px solid #ECF2F3;
	border-bottom:2px solid #FF7D7C;
	border-left:1px solid #ECF2F3;
	border-right:1px solid #ECF2F3;
	background-color: #FFF;
}

.get-post a {
	text-decoration: none;
	color:#FF7D7C !important;
	width:100px;
	height:30px;
	float:left;
	border: 1px solid #FF7D7C;
	border-radius: 5px;
	margin-top:10px;
	margin-left: 15px;
	text-align: center;
	line-height:2.8em;
	font-size:11px;
}

.enquete-post a {
	text-decoration: none;
	color:#77B4BE !important;
	width:100px;
	height:30px;
	float:left;
	border: 1px solid #77B4BE;
	border-radius: 5px;
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	line-height:2.8em;
	font-size:11px;
}

.my-active-level-status-mylevel {
	font-size:15px;
	text-align:left;
	margin-left:25px;
	margin-top:20px;
}

.my-active-level-status-mylevel i {

	font-size:35px;
}


.my-active-level-status-price {
	font-size:15px;
	text-align:center;
	margin-top:20px;
}

.fixed{
	position:fixed;
	top:0px;
}


.fixed_2{
	position: fixed;
	top:0px;
}


#sidebar-right-mypage {

	padding-bottom: 32768px;
	margin-bottom: -32768px;
	width:220px;
	float:right;
	margin-left:15px;
	border-radius:3px;
}

.all-gets-database {
	width:310px;
	height:46px;
	border-radius:5px;
	margin-bottom:15px;
	background-color: #FFF;
	text-align: center;
	line-height: 3.3em;
}

.befriends-wrap h4 {
	color:#aaa;
	font-weight: normal;
	margin-bottom: 10px;
}
.befriends {
	width:200px;
	height:57px;
	margin-bottom:15px;
	color:#666;
	float:left;
	background-color: #ECF1F3;
	position: relative;
	border-radius: 5px;
}

.befriends-avatar {
	
	width:35px;
	height:35px;
	background-color:#EEE;
	border-radius:5px;
	border:1px solid #EEE;
	float:left;
	overflow:hidden;
	position:relative;
	z-index:2;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
}


.befriends-avatar img{
	
  	width: auto;
	height:40px;
display: block;
position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
           -ms-transform: translate(-50%, -50%);
          transform: translate3d(-50%, -50%, 0);
}
.befrieneds-username {
	height:10px;
	font-weight: bold;
	color: #666;
	font-size:11px;
	margin-top: 3px;
}
.befriends-followees {
	position: absolute;
	bottom:0;
	left:53px;
	float: left;
}
.befriends-followees_count {
	color:#CBCBCB;
	font-size:11px;
	position: relative;
	top:3px;
	width: 55px;
	text-align: center;
}
.befriends-followees:after {
	content:"FOLLOWING";
	color:#CBCBCB;
	font-size:9px;

}
.befriends-followers {
	float: left;
	position: absolute;
	bottom:0;
	left:127px;
}
.befriends-followers_count {
	color:#CBCBCB;
	font-size:11px;
	width: 52px;
	position: relative;
	top:3px;
	text-align: center;
}

.befriends-followers:after {
	content:"FOLLOWER";
	color:#CBCBCB;
	font-size:9px;

}




.befriends-loca {
	width:200px;
	height:57px;
	margin-bottom:10px;
	color:#666;
	float:left;
	background-color: #FFF;
	position: relative;
	border-radius: 3px;
}

.befriends-avatar-loca {
	
	width:35px;
	height:35px;
	background-color:#EEE;
	border-radius:5px;
	border:1px solid #EEE;
	float:left;
	overflow:hidden;
	position:relative;
	z-index:2;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
}


.befriends-avatar-loca img{
	
  	width: auto;
	height:40px;
display: block;
position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
           -ms-transform: translate(-50%, -50%);
          transform: translate3d(-50%, -50%, 0);
}
.befrieneds-username-loca {
	height:10px;
	font-weight: bold;
	color: #666;
	font-size:11px;
	margin-top: 3px;
}
.befriends-followees-loca {
	position: absolute;
	bottom:0;
	left:53px;
	float: left;
}
.befriends-followees-loca_count {
	color:#CBCBCB;
	font-size:11px;
	position: relative;
	top:3px;
	width: 55px;
	text-align: center;
}
.befriends-followees-loca:after {
	content:"FOLLOWING";
	color:#CBCBCB;
	font-size:9px;

}
.befriends-followers-loca {
	float: left;
	position: absolute;
	bottom:0;
	left:127px;
}
.befriends-followers-loca_count {
	color:#CBCBCB;
	font-size:11px;
	width: 52px;
	position: relative;
	top:3px;
	text-align: center;
}

.befriends-followers-loca:after {
	content:"FOLLOWER";
	color:#CBCBCB;
	font-size:9px;

}


.sub-form-title {
	position: relative;
	top:17px;
	margin-left:113px;
	color:#bbb;
	font-size:12px;
}